<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Library</title>
</head>
<body class="bg-light">
  <div class="container">
      <h1>Add book</h1>
      <form th:action="@{/book/save}" th:method="post" action="book/save.html">
          <div class="form-group row">
              <label for="title" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="title" name="title" value="">
              </div>
          </div>
          <div class="form-group row">
              <label for="title" class="col-sm-2 col-form-label">Authors</label>
              <div class="col-sm-10">
                  <select class="custom-select" multiple name="authors" id="authors">
                  </select>
              </div>
          </div>
          <div class="form-group row">
              <label for="title" class="col-sm-2 col-form-label">Genres</label>
              <div class="col-sm-10">
                  <select class="custom-select" multiple name="genres" id="genres">

                  </select>
              </div>
          </div>
          <div class="form-group row">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary mb-2">Save</button>
              </div>
          </div>
      </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script language="JavaScript">
      $(function () {
          $.get('/author/all').done(function (authors) {
              authors.forEach(function (author) {
                  $('#authors').append(`<option value="${author.id}">${author.fullname}</option>`);
              });
          })
          $.get('/genre/all').done(function (genres) {
              genres.forEach(function (genre) {
                  $('#genres').append(`<option value="${genre.id}">${genre.name}</option>`);
              });
          });
      });
  </script>
</body>
</html>
