<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Library</title>
</head>
<body class="bg-light">
<div class="container">
  <h1>Books</h1>
  <table class="table">
    <thead class="thead-light">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">book-id</td>
        <td th:text="${book.title}">Book title</td>
        <td>
            <a th:href="@{/book/view(id=${book.id})}" href="view.html" class="btn btn-sm btn-primary">View</a>
            <a th:href="@{/book/edit(id=${book.id})}" href="edit.html" class="btn btn-sm btn-primary">Edit</a>
            <a th:href="@{/book/delete(id=${book.id})}" href="delete.html" class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
  </table>
   <a th:href="@{/book/add}" href="book\add.html" class="btn btn-primary">Add</a>
</div>
</body>
</html>
