<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Library</title>
</head>
<body class="bg-light">
  <div class="container">
      <h1 th:text="${book.title}">Book title</h1>
      <h2>Authors:</h2>
      <ul th:each="author : ${book.authors}">
          <li th:text="${author.fullname}">Author Name</li>
      </ul>
      <h2>Genres:</h2>
      <ul th:each="genre : ${book.genres}">
          <li th:text="${genre.name}">Genre name</li>
      </ul>
      <h2>Comments</h2>
      <table class="table" id="book-comments">
          <thead>
          <tr>
              <th>Text</th>
              <th>Action</th>
          </tr>
          </thead>
          <tbody id="commentlist">
          </tbody>
      </table>
      <h3>Add comment</h3>
          <div class="form-group row">
              <div class="col-sm-10">
                  <input type="text" class="form-control" id="comment-text" name="comment-text" value="">
              </div>
              <div class="col-sm-2">
                  <button class="btn btn-primary mb-2" id="btn-add-comment" onclick="AddComment()">Add</button>
              </div>
          </div>
    </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script th:inline="javascript">
      /*<![CDATA[*/
      var bookId = /*[[${book.id}]]*/ 'bookId';
      /*]]>*/
  </script>
  <script language="JavaScript">
      $(function () {
          $.get('/comment/get/'+bookId).done(function (comments) {
              comments.forEach(function (comment) {
                  $('#commentlist').append(`<tr id="comment-${comment.id}"><td>${comment.text}</td><td><button class="btn btn-sm btn-danger comment-del" data-id="${comment.id}">Delete</button></td></tr>`)
              });
              $('#commentlist').on('click','.comment-del', function () {
                  var commentId=$(this).data('id');
                  $.ajax({
                      url: '/comment/delete/'+commentId,
                      type: 'DELETE',
                      success: function(result) {
                          $( "#comment-"+commentId).remove();
                      }
                  });
              });
          })
      });

      function AddComment(){
          $.post('/comment/add/', { "bookId": bookId, "text": $('#comment-text').val()}).done(function (comment) {
              $('#commentlist').append(`<tr id="comment-${comment.id}"><td>${comment.text}</td><td><button class="btn btn-sm btn-danger comment-del" data-id="${comment.id}">Delete</button></td></tr>`);
          })
      }
  </script>
</body>
</html>
