<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Library</title>
</head>
<body class="bg-light">
<div class="container">
  <h1>Books</h1>
  <table class="table">
    <thead class="thead-light">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="booklist">
    </tbody>
  </table>
   <a href="/book/add" class="btn btn-primary">Add</a>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script language="JavaScript">
    $(function () {
        $.get('/book/list').done(function (books) {
            books.forEach(function (book) {
                $('#booklist').append(`<tr><td>${book.id}</td><td>${book.title}</td><td>
            <a href="/book/view?id=${book.id}" class="btn btn-sm btn-primary">View</a>
            <a href="/book/edit?id=${book.id}" class="btn btn-sm btn-primary">Edit</a>
            <a href="/book/delete?id=${book.id}" class="btn btn-sm btn-danger">Delete</a>
        </td></tr>`)
            });
        })
    });
</script>

</body>
</html>
